<!DOCTYPE HTML>
<html lang="fr">
	<head>
		<title>Silicon</title>
		<meta charset="utf-8" />
        <link href="../../css/style.css" rel="stylesheet" type="text/css" />
	</head>	
	<body>	
        <div id="page">
            <header>
                <div class="menuBox">

                    <div class="left">
                        <a href="#">
                            <h1>SiliconApp</h1>
                            <div>a product by Software Company</div>
                        </a>
                    </div>
                    <div class="right">
                        <ul>
                            {section name=sec1 loop=$menu}
                                <a href="#"><li>{$menu[sec1].name}</li></a>
                            {/section}
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </header>
            <div class="imageBox">
                imageBox
            </div>
            <div class="downloadBox">downloadBox</div>
            <div class="descriptionBox">descriptionBox</div>
            <footer>
                <div class="left">
                    <ul>
                        {section name=sec1 loop=$menu}
                            <a href="#"><li>{$menu[sec1].name}</li></a>
                        {/section}
                    </ul>
                </div>
                <div class="right">
                    2009 Software Company. All rights reserved
                </div>
                <div class="clear"></div>
            </footer>
        </div>
	</body>
</html>