<!DOCTYPE HTML>
<html lang="fr">
	<head>
		<title>Silicon</title>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link href="../../../static/css/normalize.css" rel="stylesheet" type="text/css" />
        <link href="../../../static/css/foundation.css" rel="stylesheet" type="text/css" />
        <link href="../../css/style.css" rel="stylesheet" type="text/css" />
	</head>	
	<body>	
        <div id="page">
            <header>
                <div class="degradeBox">
                    <div class="menuBox">
                        <div class="left">                        
                            <h1><a href="#">SiliconApp</a></h1>
                            <div>a product by Software Company</div>                        
                        </div>
                        <div class="right">
                            <ul>
                                {section name=sec1 loop=$menu}
                                    <a href="#"><li>{$menu[sec1].name}</li></a>
                                {/section}
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </header>
            <div class="imageBox"></div>
            <div class="downloadBox">downloadBox</div>
            <div class="descriptionBox">descriptionBox</div>
            <footer>
                <div class="left">
                    <ul>
                        {section name=sec1 loop=$menu}
                            <a href="#"><li>{$menu[sec1].name}</li></a>
                        {/section}
                    </ul>
                </div>
                <div class="right">
                    2009 Software Company. All rights reserved
                </div>
                <div class="clear"></div>
            </footer>
        </div>
	</body>
</html>