<!DOCTYPE HTML>
<html lang="fr">
	<head>
		<title>Integration janvier 2017 responsive</title>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <!--<link href="../../../static/css/normalize.css" rel="stylesheet" type="text/css" />-->
        <link href="../../css/static/css/foundation.css" rel="stylesheet" type="text/css" />
        <link href="../../css/style.css" rel="stylesheet" type="text/css" />
	</head>	
	<body>	
        <div id="page">
            <header>
                <div class="degradeBox">
                    <div class="menuBox">
                            <h1 class="float-left"><a href="#">Design</a></h1>                      
                        <!--<div class="float-left">                        
                        </div>-->
                        <div class="float-right">
                            <ul>
                                {section name=i loop=$menu}
                                    <li><a href="#">{$menu[i].name|upper}</a></li>
                                {/section}
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </header>

        </div>
	</body>
</html>